.login {
  display: grid;
  place-items: center;
  height: 10vh;
}

.login > button {
  width: 300px;
  background-color: #ffaf24;
  color: #eff2f5;
  font-weight: 800;
}

.login > button:hover {
  background-color: white;
  color: #ffaf24;
}

.login > div > img {
  object-fit: contain;
  padding-bottom: 20vh;
  height: 150px;
}

.login > div {
  display: flex;
  flex-direction: column;
}

.login > button {
  width: 300px;
}
